@import 'main.css';
@import 'responsive.css';
@import 'ember-power-select-bootstrap.css';

.main-page-links img {
    width: 100%;
}

.accordion {
    position: relative;
    overflow: hidden;
}

.container {
    margin-bottom: 40px;
}

.btn.width-full {
    width: 100%;
}

/**
 * Taken from http://getbootstrap.com/css/#helper-classes-center
 */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
    margin-bottom: 10px;
}
