@import 'main.css';
@import 'responsive.css';
@import 'ember-power-select-bootstrap.css';

.main-page-links img {
    width: 100%;
}

.accordion {
    position: relative;
    overflow: hidden;
}

.container {
    margin-bottom: 40px;
}

.btn.width-full {
    width: 100%;
}

/**
 * Taken from http://getbootstrap.com/css/#helper-classes-center
 */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-container-row {
    margin-bottom: 10px;
    background-color: #d8dade;
}

.search-container-row .ember-power-select-trigger {
    text-align: center;
}

.search-container-row .ember-power-select-status-icon {
    display: none;
}

.search-container {
    // padding-top: 15px;
    // padding-bottom: 15px;
    // background-color: #909193;
}
