<div id="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "application"}}
          <img src="http://vi-gt2015.s3.amazonaws.com/img/logo-candidatos.svg" class="img-responsive" title="CandiDatos" alt="CandiDatos">
        {{/link-to}}
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/pages/Glosario/">Glosario</a></li>
          <li><a href="/pages/Metodología/">Metodología</a></li>
          <li><a href="/pages/quienes-somos/">¿Quiénes somos?</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>
